@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply px-4 py-2 md:px-4 md:py-2 lg:px-5 rounded-full text-white/70 text-sm md:text-base lg:text-lg font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }

  .hero_ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5 pointer-events-none z-[-10];
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}